.home{
    background-color: rgb(53, 53, 102);
}
.home1{
    background-color: white;
    
}

.home-grid-item1{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}
.home-grid-item2{
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: center;
}