.row{
  
  display: flex;
  justify-content: space-between;
}
.col{
  font-size: large;
  color: black;
  background-color: goldenrod;
  border: 5px solid black;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
}

