.row{
  
  display: flex;
  justify-content: space-between;
}
.col{
  font-size: large;
  color: black;
  background-color: #f1e278;
  border: 5px outset grey;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.col:hover{
  background-color: #ffc300;
}
